/weather.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/weather.xcodeproj/project.xcworkspace/xcuserdata/aleksejganzickij.xcuserdatad/UserInterfaceState.xcuserstate
/weather.xcodeproj/project.xcworkspace/xcuserdata/sergeig.xcuserdatad/UserInterfaceState.xcuserstate
/weather.xcodeproj/xcuserdata/aleksejganzickij.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/weather.xcodeproj/xcuserdata/sergeig.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/weather.xcodeproj/xcuserdata/aleksejganzickij.xcuserdatad/xcschemes/xcschememanagement.plist
